.events {
    font-family: "BomberEscortSemiItalic", sans-serif;
    letter-spacing: 4px;
}

.events .carousel {
    width: 90vw;
    overflow-x: auto;
}

.events .carousel img {
    max-width: 300px;
}