.navbar {
    position: absolute;
    color: #fff;
}

.navbar ul {
    list-style: none;
    margin-left: auto;
}

.navbar ul a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
}

.navbar ul li::after {
    content: "";
    color: #fff;
    width: 0%;
    height: 2px;
    display: block;
    background-color: #fff;
    border-radius: 10px;
    margin: 0 auto;
    margin-right: 0;
    transition: 0.5s ease;
}

.navbar ul li:hover::after {
    width: 100%;
    margin: auto;
    margin-left: 0;
}