.timeline {
    font-family: "BomberEscortSemiItalic", sans-serif;
}

.timeline h2 {
    font-size: 3rem;

}

.timeline img {
    margin-left: -1rem;
    width: 100%;
    max-width: 600px;
    user-select: none !important;
    user-zoom: none !important;
}

@media screen and (max-width: 480px) {
    .timeline h2 {
        font-size: 1.5rem;
    }
}