.timeline {
    font-family: "BomberEscortSemiItalic", sans-serif;
    background: url('../../assets//timeline\ bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
}

.timeline h2 {
    font-size: 3rem;

}

.timeline img {
    margin-left: -1rem;
    width: 100%;
    max-width: 1000px;
    user-select: none !important;
    user-zoom: none !important;
    margin-top: -10rem;
}

@media screen and (max-width: 750px) {
    .timeline img {
        margin-top: -4rem;
        width: 140%;
        margin-left: 0;
        margin-right: -2rem;
    }
}

@media screen and (max-width: 480px) {
    .timeline h2 {
        font-size: 1.5rem;
    }
}