@font-face {
    font-family: BomberEscortSemiItalic;
    src: url("./assets/BomberEscortSemiItalic-VGzp6.otf") format("opentype");
}

.hero {
    background: url(./assets/background.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: none;
}

.hero-text h1 {
    color: #fff;
    font-size: 8rem;
    font-family: "BomberEscortSemiItalic";
    font-weight: 500;
    font-style: italic;
    letter-spacing: 3px;
    background: rgb(255, 211, 0);
    background: linear-gradient(150deg, rgb(234, 164, 0) 0%, rgb(255, 179, 0) 29%, rgb(255, 7, 77) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}