.menu button::after {
  content: "";
  width: 0%;
  height: 2px;
  background-color: #fff;
  display: block;
  margin: 0 auto;
  margin-right: 0;
  transition: 0.5s ease;
  margin-top: 5px;
  filter: drop-shadow(0px 0px 10px #af1af1);
  box-shadow: 0px 0px 10px #af1af1;
}

.menu button:hover::after {
  width: 100%;
  margin: auto;
  margin-left: 0;
  margin-top: 5px;
}

.timeline img {
  margin-left: -1rem;
  width: 100%;
  margin-top: -10rem;
}

@media screen and (max-width: 750px) {
  .timeline img {
    margin-top: -4rem;
    width: 140%;
    margin-left: 0;
    margin-right: -2rem;
  }
}
