@font-face {
    font-family: BomberEscortSemiItalic;
    src: url("./assets/BomberEscortSemiItalic-VGzp6.otf") format("opentype");
}

body {
    background-color: #000;
    color: #fff;
}

.hero {
    background: url(./assets/hero-background.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: none;
}

.hero-text h1 {
    color: #fff;
    font-size: 8rem;
    font-family: "BomberEscortSemiItalic", sans-serif;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 3px;
    text-shadow: 0px 0px 40px #AF1AF1;

}

@media screen and (max-width: 480px) {
    .hero-text h1 {
        font-size: 2.5rem;
    }
}